<section fxLayout="column" fxLayoutAlign="center center" style="height: 100vh">
  <h1>Succesful registration.</h1>
  <!-- <p>Please check your email to confirm your registration.</p> -->
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae et ducimus
    porro!
  </p>
  <div fxLayout="row" fxLayoutGap="10">
    <a mat-flat-button color="primary" routerLink="/" class="nav-btn">Home</a>
    <a mat-stroked-button color="primary" routerLink="/login" class="nav-btn"
      >Login</a
    >
  </div>
</section>
