@use "./functions" as *;

// Colors:
$primary-light: #cdcdf7;
$accent-light: #ffd4c0;

// Breakpoints
$breakpoints-up: (
  "small": rem(600px),
  "medium": rem(960px),
  "large": rem(1280px),
  "xlarge": rem(1400px),
);

$breakpoints-down: (
  "xsmall": rem(599px),
  "small": rem(959px),
  "medium": rem(1279px),
  "large": rem(1339px),
);
