<section>
  <div
    fxFlex.lt-md="100"
    fxFlex.gt-sm="50"
    fxLayoutAlign="center center"
    class="form-container"
  >
    <form
      [formGroup]="signUpForm"
      (ngSubmit)="submitSignUp()"
      autocomplete="off"
      class="example-form signup-form"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center flex-start"
        class="input-container"
      >
        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>First name</mat-label>
          <input
            matInput
            placeholder="Type your first name"
            [formControl]="firstName"
          />
          <mat-error>
            {{ getFirstNameErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>Last name</mat-label>
          <input
            matInput
            placeholder="Type your last name"
            [formControl]="lastName"
          />
          <mat-error>
            {{ getLastNameErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Pick an username"
            [formControl]="username"
          />
          <mat-error>
            {{ getUsernamerrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>Email</mat-label>
          <input matInput placeholder="Type your email" [formControl]="email" />
          <mat-error>
            {{ getEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Type password"
            type="password"
            [formControl]="password"
          />
          <mat-error>
            {{ getPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="standard"
          floatLabel="always"
        >
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            placeholder="Confirm your password"
            type="password"
            [formControl]="confirmPassword"
          />
          <mat-error>
            {{ getConfirmPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-error>
          {{ signUpError }}
        </mat-error>
        <button type="submit" mat-flat-button color="primary">Sign Up</button>

        <a routerLink="/login" class="login-link"
          >Already have an account? Go to <span>login.</span>
        </a>
      </div>
    </form>
  </div>
  <div
    fxFlex.gt-sm="50"
    fxLayout.gt-sm="column"
    fxLayoutAlign.gt-sm="center center"
    class="img-container"
  >
    <img src="../../../../assets/images/space-discovery.png" alt="" />
  </div>
</section>
