<section>
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center flex-start"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
    class="container"
  >
    <div>
      <h1 class="mat-display-2">Page not found</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipi sicing elit. Deleniti amet
        quam distinctio, sint magnam corporis!
      </p>
      <a mat-flat-button color="primary" routerLink="">Home page</a>
    </div>
    <img fxFlex.gt-sm="70" src="../../../assets/images/error.png" alt="" />
  </div>
</section>
