@use "../../../../styles/abstract/abstract" as *;

.nav {
  height: rem(80px);

  h1 {
    margin-bottom: unset;
  }

  .nav-btn {
    width: rem(80px);
  }

  a {
    align-self: center;
  }

  mat-icon {
    font-size: rem(20px);
  }
}
