@use "../../../../styles/abstract/abstract" as *;

.container {
  padding-block: rem(32px);

  .project-name {
    margin-bottom: rem(16px);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .project-description {
    color: #454545;
  }
}
