<section id="hero">
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center flex-start"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
    class="container"
  >
    <div fxFlexOrder.lt-md="2">
      <h2 class="mat-display-2">Organize your projects</h2>
      <p>
        Agile boards are a great way to plan and track projects at all levels,
        from individual backlogs to enterprise portfolios.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        magni.
      </p>
    </div>

    <img
      fxFlexOrder.lt-md="1"
      fxFlex.gt-sm="65"
      src="../../../assets/images/web-development.png"
    />
  </div>
</section>

<section id="second">
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center flex-start"
    fxLayoutGap.gt-sm="48"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
    class="container"
  >
    <img fxFlex.gt-sm="60" src="../../../assets/images/plan.png" />
    <div>
      <h2 class="mat-display-1">Enjoy powerful project management</h2>
      <p>
        A project management tool that can be adapted to your processes to help
        you deliver great products. Track projects and tasks, use agile boards,
        plan sprints.
      </p>
    </div>
  </div>
</section>

<section id="third">
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center flex-start"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
    class="container"
  >
    <div>
      <h2 class="mat-display-1">Deliver more, deliver better</h2>
      <p>
        A project management tool that can be adapted to your processes to help
        you deliver great products. Track projects and tasks, use agile boards,
        plan sprints.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        dolor blanditiis? Eveniet!
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <img fxFlex.gt-sm="65" src="../../../assets/images/growth.png" />
  </div>
</section>

<section id="fourth">
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center flex-start"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutGap="32"
    class="container"
  >
    <img
      fxFlex.gt-sm="60"
      fxFlexOrder.lt-md="2"
      src="../../../assets/images/time-managment.png"
    />
    <div fxFlexOrder.lt-md="1">
      <h2 class="mat-display-1">Be agile</h2>
      <div>
        <h2>Planning</h2>
        <p>
          A project management tool that can be adapted to your processes to
          help you deliver great products. Track projects and tasks, use agile
          boards, plan sprints.
        </p>
      </div>
      <div>
        <h2>Agile boards</h2>
        <p>
          Plan the future of your project development with a flexible backlog.
          Create user stories, feature requests and tasks.
        </p>
      </div>
    </div>
  </div>
</section>
